.Tag{
   
    background-color:#B4ADAD ;
    padding:4px;
    border-radius: 10px;
    color:#1E1D1D;
    box-shadow: 3px 5px 10px 0px rgba(138,138,136,1);
    margin: 2px 2px 2px 2px;
    width: 10%;
    float: left;
    width: auto;
    /* width auto o 100%*/
}

.TagSize{
    background-color:#B4ADAD ;
    padding:4px;
    border-radius: 10px;
    color:#1E1D1D;
    box-shadow: 3px 5px 10px 0px rgba(138,138,136,1);
    margin: 2px 2px 2px 2px;
    width: 10%;
    float: left;
    width: 10%;
}

.Tag i{
    display:flex;
    position: relative;
    top:1px;
    font-size:90%;
    font-weight: bold;
    cursor:pointer;
    float:right;
}

.Tag i:hover{
    color:black;
}

.Content{
    width:50%;
    padding:2px;
    vertical-align: middle;
    text-overflow: ellipsis; 
}

.margin-top{
    margin-top: -9px;
}