.text-profilo-persona{
    font-size: xx-large;
}

.label-breve-presentazione{
    font-style: italic;
}

.btn-close-img{
    position: absolute;
    top: 0;
    right: 0;
}


.Invalid{
    /*border-bottom: 3px solid red;*/
    border-color: var(--ion-color-danger, #f1453d);;
}
