

.CardContent{
    margin: auto;
    width: 100%;
}

.Titolo{
    font-size: xx-large;
}

.center-image{
    margin: auto;
}

.border-solid{
    border: 1px solid black;
}

.margin-auto{
    margin: auto;
}